body{
    height: 100%;
    min-height: 100vh;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

*{
    box-sizing: border-box;
    --white-color: #FBFBFB;
}

.container{
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

svg{
    width: 22px;
    height: 22px;
    color: var(--white-color);
}

aside{
    color: white;
    grid-column: 1/2;
    grid-row: 1/3;
    background-color: #001A6B;
    display: grid;
    grid-template-rows: 100px repeat(6, 110px);
}

.box-child.dash{
    margin-top: 20px;
}

.dash-svg{
    width: 35px;
    height: 35px;
}

.side-box1{
    grid-row:2/4
}

.side-box2{
    grid-row:5/7
}

.box-child{
    display: flex;
    align-items: center;
    gap: 25px;
    margin-left: 28px;
    height: 45px;
}

.box-child > p{
    font-size: 18px;
}

header{
    grid-column: 2/3;
    background-color: var(--white-color);
    display: grid;
    grid-template-columns: 2fr 1.5fr;
    grid-template-rows: 1fr 1fr;
}

.searchbar{
    grid-area: 1/1/2/2;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

input{
    width: 80%;
    height: 1.8rem;
    border-radius: 15px;
    border: none;
    background-color: #DDE6ED;
    text-indent: 10px;
}

.greeting{
    grid-area: 2/1/3/2;
    display: grid;
    grid-template-columns: 100px 2fr;
    grid-template-rows: 100px ;
    font-weight: bolder;
    gap: 15px;  
    padding-left: 32px;
}

p.small-text{
    grid-area: 1/2/2/2;
    font-size: small;
    align-self: start;
    padding-top: 15px;
}

p.large-text{
    font-size: 22px;
    grid-area: 1/2/2/2;
    align-self: end;
}

.user{
    grid-area: 1/2/2/3;
}

.button-box{
    grid-area: 2/2/3/3;
}

main{
  grid-row: 2;
  background-color: #DDE6ED;
}