body{
    height: 100%;
    min-height: 100vh;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

*{
    box-sizing: border-box;
    --white-color: #FBFBFB;
    --blue-color: #001A6B;
    --orange-color: #E8630A;
}

.container{
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4.5fr;
    grid-template-rows: 170px 4fr;
}

svg{
    width: 22px;
    height: 22px;
    color: var(--white-color);
}

aside{
    color: var(--white-color);
    grid-column: 1/2;
    grid-row: 1/3;
    background-color: var(--blue-color);
    display: grid;
    grid-template-rows: 100px repeat(6, 110px);
}

.box-child.dash{
    margin-top: 20px;
}

.dash-svg{
    width: 35px;
    height: 35px;
}

.side-box1{
    grid-row:2/4
}

.side-box2{
    grid-row:5/7
}

.box-child{
    display: flex;
    align-items: center;
    gap: 25px;
    margin-left: 28px;
    height: 45px;
}

.box-child > p{
    font-size: 18px;
}

header{
    grid-column: 2/3;
    background-color: var(--white-color);
    display: grid;
    grid-template-columns: 2fr 1.5fr;
    grid-template-rows: 65px 105px;
    height: 140px;
}

.searchbar{
    grid-area: 1/1/2/2;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

input{
    width: 80%;
    height: 1.8rem;
    border-radius: 15px;
    border: none;
    background-color: #DDE6ED;
    text-indent: 10px;
}

.greeting{
    grid-area: 2/1/3/2;
    display: grid;
    text-wrap: nowrap;
    grid-template-columns: 100px 2fr;
    font-weight: bolder;
    gap: 10px;  
    padding-left: 32px;
}

p.small-text{
    grid-area: 1/2/2/2;
    font-size: small;
    align-self: start;
    padding-top: 18px;
}

p.large-text{
    font-size: 22px;
    grid-area: 1/2/2/2;
    align-self: end;
}

.user{
    grid-area: 1/2/2/3;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    font-weight: bold;
    padding-top: 8px;
}

.button-box{
    grid-area: 2/2/3/3;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

button{
    background-color: var(--blue-color);
    color: var(--white-color);
    height: 2rem;
    width: 5.5rem;
    border-radius: 15px;
    border-style: none;
    transition: transform .2s; 
}
button:hover{
    transform: scale(1.08);
    box-shadow:
    0 0 0.5rem black,
    inset 0 0 0 black; ;
}

main{
  grid-row: 2;
  background-color: #DDE6ED;
  display: grid;
  grid-template-columns: 3fr 1.1fr;
  grid-template-rows: 50px 1fr;

}

.card-container{
    grid-area: 2/1/3/2;
    display: grid;
    margin: 20px;
    grid-template-columns: repeat(2,minmax(250px,800px));
    gap: 20px;
}

.your-projects{
    grid-area: 1/1/2/2;
    align-self: end;
    margin: 0;
    padding-left: 20px;
    font-weight: bold;
    font-size: 20px;
}

.card{
    border-radius: 8px;
    background: linear-gradient( to right, var(--orange-color) 2%, var(--white-color) 2%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 3px 3px 5px 1px rgb(190, 184, 184);
}

.card > p{
    margin: 0;
    width: 80%;
    margin-left: 8%;

}

.title{
    font-weight: bold;
    font-size: 18px;
}

.lorem{
    font-weight: 300;
    font-size: 15px;
}

.svg-container{
    display: flex;  
    align-self: flex-end;
    gap: 18px;
    margin-right: 10%;
    margin-top: 10px;
}


.aside-container{
    grid-area: 1/2/3/3;
}